<div class="wrapper">
	<div class="main-panel">
		<div class="content">
			<div class="container-fluid">
				<!--<div id="over" class="overbox"><div id="gifImage"></div></div>
				<div id="fade" class="fadebox">&nbsp;</div>--->
				<div class="row">
					<div class="col-md-3">
						<button  class="btn btn-success" ng-click="clndrCtrl.EventClickTypeEevet()"><div ng-show="{{clndrCtrl.typeuser}}">Crear</div> Tipo De Evento<div class="ripple-container"></div></button>
						<div class="card">
							<div class="card-header">
								<h4 class="card-title text-center">Eventos</h4>
							</div>
							<div class="card-content text-center">
								<button type="button" class="btn btn-agenda-privada btn-lg" ng-click="clndrCtrl.onEventDayClick()">Asignar Cita</button>
								<!--<button type="button" class="btn btn-green btn-lg" ng-click="clndrCtrl.onEventGhostClick()">Disponibilidad</button>-->

								<!-- <div class="alert alert-rose alert-with-icon" data-notify="container">
																		 <i class="material-icons" data-notify="icon">local_offer</i>
																		 <button type="button" aria-hidden="true" class="close">
																				 <i class="material-icons">close</i>
																		 </button>
																		 <span data-notify="message">Cita General</span>
																 </div>
																 <div class="alert alert-warning alert-with-icon" data-notify="container">
																		 <i class="material-icons" data-notify="icon">local_offer</i>
																		 <button type="button" aria-hidden="true" class="close">
																				 <i class="material-icons">close</i>
																		 </button>
																		 <span><b>Medicina general</b></span>
																 </div>
																 <div class="alert alert-info alert-with-icon" data-notify="container">
																		 <i class="material-icons" data-notify="icon">local_offer</i>
																		 <button type="button" aria-hidden="true" class="close">
																				 <i class="material-icons">close</i>
																		 </button>
																		 <span><b>Optometría</b></span>
																 </div>
																 <div class="alert alert-success alert-with-icon" data-notify="container">
																		 <i class="material-icons" data-notify="icon">local_offer</i>
																		 <button type="button" aria-hidden="true" class="close">
																				 <i class="material-icons">close</i>
																		 </button>
																		 <span><b>Franja 3</b></span>
																 </div>
																 <div class="alert alert-primary alert-with-icon" data-notify="container">
																		 <i class="material-icons" data-notify="icon">local_offer</i>
																		 <button type="button" aria-hidden="true" class="close">
																				 <i class="material-icons">close</i>
																		 </button>
																		 <span><b>Franja 3</b></span>
																 </div>-->
							</div>
						</div>
					</div>

					<div class="col-md-9">
						<div class="card card-calendar">
							<div class="card-content" class="ps-child">
								<!--<div id="gifImage"></div>-->
								<div id="over" class="conta"><div id="gifImage"></div></div>
								<!--<div id="over" class="overbox"><div id="gifImage"></div></div>
								<div id="fade" class="fadebox">&nbsp;</div>-->
								<div id="tittleUser"></div>
								<div id="fullCalendar"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- Modal Tipo de Evento -->
	<div class="modal fade" id="myModalTyeEvent" data-keyboard="false" data-backdrop="static"
				 tabindex="-1" role="dialog" aria-labelledby="myModalTyeEventLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
							<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<br/>
								</div>
								<!-- Table-->
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="text-center card-header-text">
													<h4 class="card-title btn-agenda-tipo-evento">TIPO DE CITA</h4>
												</div>
												<div class="card-content">
													<div class="table-responsive">
														<table class="table" ng-show="{{clndrCtrl.typeuser}}">
															<thead>
															<tr>
																<th class="text-center">Descripción</th>
																<th class="text-center">Duración</th>
																<th class="text-center">Acción</th>
															</tr>
															</thead>
															<tbody>
															<tr >
																<td class="text-center"><input ng-model='clndrCtrl.campos.nombre_actividad' id='nametd' class="valida-input" type="text" ng-pattern="/^[a-zA-Z]*$/" value="" style="width: 196px" required/></td>
																<td class="text-center"><input ng-model='clndrCtrl.campos.tiempo' id='durartiontd' ype="text" class="valida-input" ng-pattern="/^\d+$/" value="" style="width: 50px" aria-describedby="inputTime" required/></td>
																<td class="td-actions text-right">
																	<button class="btn btn-success" ng-click="clndrCtrl.addTypeEvent()">agregar<div class="ripple-container"></div></button>
																</td>
															</tr>
															</tbody>
														</table>
														<hr/>
														<table class="table">
															<thead>
															<tr>
																<th class="text-center" >Descripción</th>
																<th class="text-center" >Duración</th>
																<th class="text-center" ng-show="{{clndrCtrl.typeuser}}">Acción</th>
															</tr>
															</thead>
															<tbody>
															<tr ng-repeat="typeEvent in clndrCtrl.resultListTypeEvent.info">
																<td >{{typeEvent.nombre_actividad}}</td>
																<td class="text-center" >{{typeEvent.tiempo}}</td>
																<td class="td-actions text-right" ng-show="{{clndrCtrl.typeuser}}">
																	<button class="btn btn-danger" ng-click="clndrCtrl.removeTypeEvent(typeEvent)">Eliminar<div class="ripple-container"></div></button>
																</td>
															</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
								<!-- Table-->
						<div class="modal-footer">
										<button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Cerrar</button>
								</div>
					</div>
				</div>
		</div>
	<!-- Modal Tipo de Evento -->
	<!-- Modal Calendar Asignar Cita-->
	<div class='modal fade' data-keyboard='false' id='createCustomer2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
					<h4 class="modal-title text-center" >{{ctmsCtrl.titleModal}}</h4>
				</div>
				<div class="modal-body contentCustomerCreate forms">
					<form name="asignarForm">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">account_circle</i>
								</span>
								<div class="form-group is-empty" ng-controller="functionController as functionCtrl">
									<!--<input type="text" class="form-control" placeholder="Cliente" ng-model="clndrCtrl.campos.nameuser" disabled>-->
									<select  ng-model='clndrCtrl.campos.cliente'  name='cliente' id='cliente' selectpicker=' ' class='selectpicker' data-style='select-with-transition'  title='Seleccione Cliente' data-size='7' required>
										<option ng-repeat="listclient in functionCtrl.campos.listCliente" value='{{listclient}}' id='{{listclient.id}}'>{{listclient.nombre_cliente}}</option>
									</select>
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">directions</i>
								</span>
								<div class="form-group is-empty">
									<input type="text" class="form-control" id='addressCustomer' ng-blur="clndrCtrl.onBlur()" placeholder="Dirección, Ciudad" name="direccion"  ng-model="clndrCtrl.campos.direccion" required>
									<!--<span class="error" ng-show="asignarForm.direccion.$error.required">Name is required.</span>-->
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group" ng-show='clndrCtrl.directionsgeo' id="directionsgeo">
								<span class="input-group-addon">
									<i class="material-icons">directions</i>
								</span>
								<div class="form-group is-empty">
									<input type="text" class="form-control" id='addressCustomerGeo'  placeholder="DireccionGeo" name="direccionGeo" name="direccion Geo" ng-model="clndrCtrl.campos.direccionGeo">
									<!--<span class="error" ng-show="asignarForm.direccion.$error.required">Name is required.</span>-->
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">place</i>
								</span>
								<div class="form-group is-empty">
									<input type="text" class="form-control" placeholder="cx" id='cxCustomer' ng-model='clndrCtrl.campos.cx' disabled>
									<span class="material-input"></span>
								</div>
							<!--</div>

							<div class="input-group">-->
								<span class="input-group-addon">
									<i class="material-icons">place</i>
								</span>
								<div class="form-group is-empty">
									<input type="text" class="form-control" placeholder="cy" id='cyCustomer' ng-model='clndrCtrl.campos.cy' disabled>
									<span class="material-input"></span>
								</div>
							</div>
							<!-- Dos -->
							<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">date_range</i>
									</span>
								<div class="form-group is-empty" >
									<!--<input type="text" class="form-control" placeholder="Cliente" ng-model="clndrCtrl.campos.nameuser" disabled>-->
									<div class="form-group ">
										<input ng-model='clndrCtrl.campos.finicre' name="finifinicre"  id='finifinicre' type="text " class='form-control datepicker' value=" " required/>
										<span class="material-input "></span>
										<!--<span  class="material-input text-danger lettersize " ng-show="clndrCtrl.MgsFini">{{clndrCtrl.desMsgFechaIni}}</span>-->
									</div>
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">date_range</i>
									</span>
								<div class="form-group is-empty" >
									<!--<input type="text" class="form-control" placeholder="Cliente" ng-model="clndrCtrl.campos.nameuser" disabled>-->
									<div class="form-group ">
										<select  ng-model='clndrCtrl.campos.event'  name='event' id='event' selectpicker=' ' class='selectpicker' data-style='select-with-transition' ng-change='clndrCtrl.envenInfoTypeEvent(clndrCtrl.campos.event)' title='Tipo Evento' data-size='7' required>
											<option ng-repeat="listaEvent in clndrCtrl.listaEvent" value="{{listaEvent}}">{{listaEvent.nombre_actividad}}</option>
										</select>
										<span class="material-input"></span>
									</div>
								</div>
							</div>
							<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">hourglass_empty</i>
									</span>
								<div class="form-group is-empty" >
									<select  ng-model='clndrCtrl.campos.hini'  name='hini' id='hini' selectpicker=" " class='selectpicker' data-style="select-with-transition"  title="Hora Inicio " data-size="7 ">
										<option ng-repeat="listHor in clndrCtrl.campos.rango" value="{{listHor}}">{{listHor}}</option>
									</select>
									<span class="material-input"></span>
								</div>
								<span class="input-group-addon">
									<i class="material-icons">hourglass_full</i>
									</span>
								<div class="form-group is-empty" >
									<select  ng-model='clndrCtrl.campos.hfin'  name='hfin' id='hfin' selectpicker=' ' class='selectpicker' data-style='select-with-transition'  title='Hora Final' ng-change='clndrCtrl.validatordata("H")' data-size='7'>
										<option ng-repeat="listHor in clndrCtrl.campos.rango" value="{{listHor}}">{{listHor}}</option>>
									</select>
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group" ng-show='clndrCtrl.chackrepeti' id="chackrepeti">
									<span class="input-group-addon">
										<i class="material-icons">repeat</i>
									</span>
								<div class="form-group is-empty" >
									<div class='checkbox'>
										<label>
											<label class="label-on-left">Repetición</label>
											<input ng-model="clndrCtrl.campos.checkboxselect"  type='checkbox' name='optionsCheckboxesRep' ng-click='clndrCtrl.envenRep(clndrCtrl.campos.checkboxselect)'><span class="checkbox-material "><span class="check "></span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="input-group" ng-show='clndrCtrl.rep'>
								<span class="input-group-addon">
										<i class="material-icons">merge_type</i>
									</span>
								<div class="form-group is-empty" >
									<select    ng-model='clndrCtrl.campos.selectrep' name="rep" selectpicker=" " class='selectpicker' ng-change='clndrCtrl.envenReprango(clndrCtrl.campos.selectrep)' data-style="select-with-transition"  title='repeticionSelect' data-size="7 ">
										<option value="ALLDAY ">todo el dia</option>
										<option value="DAY ">Cada día</option>
										<option value="M|TU|W|TH|F ">Todos los días laborales</option>
										<option value="M|W|F ">Lunes-Miercoles-viernes</option>
										<option value="TU|TH ">Martes-Jueves</option>
										<option value="WEEK ">Cada semana</option>
										<option value="MONTH ">Cada mes</option>
										<option value="YEAR ">Cada año</option>
									</select>
								</div>
							</div>
							<!-- Tres -->
							<div class="input-group" ng-show='clndrCtrl.campos.rephasta'>
									<span class="input-group-addon">
										<i class="material-icons">date_range</i>
									</span>
								<div class="form-group is-empty" >
									<div class="form-group label-floating is-empty ">
										<div class="form-group "><input ng-model='clndrCtrl.campos.fecharango' id='fecharangos' type='text' class='form-control datepicker' ng-change='clndrCtrl.validatordata("F")' value='' />
											<span class='material-input'></span>
											<!--<span  class="material-input text-danger lettersize" ng-show="clndrCtrl.MgsFfin">{{clndrCtrl.desMsgFechaRango}}</span>-->
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class='col-md-6 col-xs-11 text-center mapCustomer1' id='mapCustomer2'>
						</div>
					</div>
					</form>
				</div>
				<div class="modal-footer" >
						<button type="button" ng-click="clndrCtrl.confirm('save')" id='saveGroupNew' ng-show="clndrCtrl.btnSHSave" class="btn btn-success btn-simple" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Guardando Grupo...">Guardar</button>
					<button type="button" ng-click="clndrCtrl.confirm('update')" id='updateGroupNew' ng-show="clndrCtrl.btnSHUpdate" class="btn btn-success btn-simple" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Guardando Grupo...">Reprogramas</button>
					<button type="button" ng-click="clndrCtrl.confirm('delete')" id='deleteGroupNew' ng-show="clndrCtrl.btnSHDelete" class="btn btn-success btn-simple" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Guardando Grupo...">Eliminar</button>
					<!--<button type="button" ng-click="ctmsCtrl.confirm('update')" id="updateGroup" ng-show="ctmsCtrl.btnSHUpdate" class="btn btn-success btn-simple" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Actualizando Grupo...">Actualizar</button>-->
						<button type="button" ng-click="clndrCtrl.clearForm()" class="btn btn-warning btn-simple">Limpiar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Calendar -->
<div class="modal fade" id="confirmUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center h3">
				{{clndrCtrl.campos.textConfirmUsers}}
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="clndrCtrl.selectAction()">Aceptar</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

