<div ng-include="'views/partials/navbar.html'" ng-show="app.hideNavBar"></div>
<div ng-include="'views/partials/sidebar.html'" ng-show="app.hideNavBar"></div>
<div ui-view="" autoscroll="false"></div>
