<div class="wrappe baseMap">
	<div class="sidebarMap" id="sidebar" ng-class="{'hideSidebarMap': bmapCtrl.toggleSideBar}">
		<ul class="itemUl">
			<!--<li class="itemLi" ng-click="bmapCtrl.showView('routes')">
				<button class="btn btn-warning">Rutas
					<div class="ripple-container"></div>
				</button>
			</li>
			<li class="itemLi" ng-click="bmapCtrl.showView('alarms')">
				<button class="btn btn-danger">Alarmas
					<div class="ripple-container"></div>
				</button>
			</li>-->

			<!--<li class="itemLi">

			</li>-->
			<li class="itemLi" ng-click="bmapCtrl.showView('routes')">
				<button class="btn btn-warning">Creat Tarea
					<div class="ripple-container"></div>
				</button>
			</li>
			<div class="col-md-10 text-center col-md-offset-1 contentCustomers tableTarea">
				<table id="mapCustomerTabletarea" class="display nowrap" cellspacing="0" width="100%">
					<thead class="hidden">
					<tr>
						<th></th>
					</tr>
					</thead>
					<tfoot class="hidden">
					<tr>
						<th></th>
					</tr>
					</tfoot>
					<tbody>
					<tr ng-repeat="o in bmapCtrl.listTareaMap">
						<td>
							<div class="dataCustomer">
								<div class="row">
									<div class="col-md-6 col-xs-6">
										<p class="textWeight" ng-click="bmapCtrl.fillFields(o.id_cliente)">{{bmapCtrl.ucWords('Jorge Angariat')}}</p>{{o.telefono}}
									</div>
									<div class="col-md-6 col-xs-6">
										<p>Fecha {{o.fecha}}</p>
										<button class="btn-tam" ng-click="bmapCtrl.assignHomework(o.id)">Asignar<i class="material-icons text-danger i">assignment_ind</i></button>
										<!--<p class="pointer" ng-click="bmapCtrl.addMarker('user', o.id, null)">Posición<i class="material-icons text-danger i">place</i></p>-->
									</div>
								</div>
								<hr>
								<div class="row textWeight">
									<div class="col-md-6 col-xs-6 text-success">Hora Inicio
										<p>{{o.hora_ini}}</p>
									</div>
									<div class="col-md-6 col-xs-6 text-danger">Hora Fin
										<p>{{o.hora_fin}}</p>
									</div>
									<!--<div class="col-md-4 col-xs-4 text-primary">Efectividad
										<p>{{o.porcentaje}}%</p>
									</div>-->
								</div>
								<div class="row contentRoute heightNone" id="mapRoute{{o.id}}" ng-class="bmapCtrl.mapRoute{{o.id}}">
									<div ng-show="bmapCtrl.customersVN{{o.id}}">
										<div ng-repeat="u in o.conocimientos">
											<div class="col-md-8 col-xs-8">{{u.id_tipo_tarea}}
												<hr>
											</div>
											<hr>
										</div>
									</div>
									<div ng-show="bmapCtrl.routeUserCurrent{{o.id}}">
										<div ng-repeat="r in o.herramientas">
											<div class="col-md-8 col-xs-8">{{r.id_tipo_tarea}}
												<hr>
											</div>
											<br>
										</div>
									</div>
								</div>
								<div class="arrowDownTop textWeight">
									<div class="col-md-5 col-xs-5 pointer" ng-click="bmapCtrl.toggleRoute('conocimiento',o.id)">Conocimiento</div>
									<div class="col-md-2 col-xs-2 pointer text-success" ng-click="bmapCtrl.toggleRoute('hide',o.id)">
										{{bmapCtrl["arrowHideCR"+o.id]}}
									</div>
									<div class="col-md-5 col-xs-5 pointer" ng-click="bmapCtrl.toggleRoute('herramineta',o.id)">Herramientas</div>
								</div>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</ul>
	<div class="setPanel" >
		<span class="closeSetPanel displayNone" id="closeSetPanel" onclick="Anuket.closeSetPanel()">X</span>
		<div class="stateCustomer">
			<ul>
				<li><i class="material-icons colorVisit">fiber_manual_record</i>Visitado</li>
				<li><i class="material-icons colorNoVisit">fiber_manual_record</i>No Visitado</li>
				<li><i class="material-icons colorTransit">fiber_manual_record</i>Transito</li>
			</ul>
			<b><p id="infoRoute" class="infoRoute"></p></b>
		</div>
		<div id="set-panel" class="contentDir">
		</div>
	</div>
	</div>
	<div class="arrowLeft" ng-click="bmapCtrl.toggleSidebar()" ng-class="{'hideArrow' : bmapCtrl.toggleArrow}">
		<i class="material-icons">{{ bmapCtrl.textArrow == true ? 'keyboard_arrow_right' : 'keyboard_arrow_left' }}</i>
	</div>
	<div class="sidebarMap sidebarMapRight" ng-class="{'hideSidebarMap': bmapCtrl.toggleSideBar2}">
		<div class="row" ng-show="bmapCtrl.viewRoutes">
			<br>
			<div class="col-md-12 text-center text-primary pointer" ng-click="bmapCtrl.addMarker('userAll', null, null)"><p>Posicion Actual Usuarios</p></div>

			<div class="col-md-10 text-center col-md-offset-1 contentCustomers">
				<table id="mapCustomerTable" class="display nowrap" cellspacing="0" width="100%">
					<thead class="hidden">
						<tr>
							<th></th>
						</tr>
					</thead>
					<tfoot class="hidden">
						<tr>
							<th></th>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="o in bmapCtrl.listCustomerMap">
							<td>
								<img class="icon-calendar" src="images/calendario_Mesa de trabajo .png" alt="Card image cap" ng-click="bmapCtrl.goCalendar(o.id, o.nombre, o.cedula )">
								<div class="dataCustomer">
									<div class="row">
										<div class="col-md-6 col-xs-6">
											<p class="textWeight" ng-click="bmapCtrl.fillFields(o.id)">{{bmapCtrl.ucWords(o.nombre)}}</p>{{o.telefono}}
										</div>
										<div class="col-md-6 col-xs-6">
											<p>Bateria {{o.bateria}}%<i class="material-icons text-{{o.colorBateria}} i">battery_std</i></p>
											<button class="btn-tam" ng-click="bmapCtrl.addMarker('user', o.id, null)">Posición<i class="material-icons text-danger i">place</i></button>
											<!--<p class="pointer" ng-click="bmapCtrl.addMarker('user', o.id, null)">Posición<i class="material-icons text-danger i">place</i></p>-->
										</div>
									</div>
									<hr>
									<div class="row textWeight">
										<div class="col-md-4 col-xs-4 text-success">Visitados
											<p>{{o.visitados}}</p>
										</div>
										<div class="col-md-4 col-xs-4 text-danger">Sin Visitar
											<p>{{o.novisitados}}</p>
										</div>
										<div class="col-md-4 col-xs-4 text-primary">Efectividad
											<p>{{o.porcentaje}}%</p>
										</div>
									</div>
									<div class="row contentRoute heightNone" id="mapRoute{{o.id}}" ng-class="bmapCtrl.mapRoute{{o.id}}">
										<div ng-show="bmapCtrl.customersVN{{o.id}}">
											<div ng-repeat="u in o.clientes">
												<div class="col-md-8 col-xs-8">{{u.nombre}}
													<hr>
												</div>
												<div class="col-md-4 col-xs-4">
													<!--<i class="material-icons text-{{ u.estado == 'visitado' ? 'success' : 'default' }}">check_circle</i>&nbsp;&nbsp;&nbsp;-->
													<i class="material-icons text-danger pointer" ng-click="bmapCtrl.centerMap(u.coordenadas[0], u.coordenadas[1])">place</i>
													<hr>
												</div>
												<hr>
											</div>
										</div>
										<div ng-show="bmapCtrl.routeUserCurrent{{o.id}}">
											<div ng-repeat="r in o.route">

												<span class="col-md-1 col-xs-1 text-center">
													<strong>{{$index}}</strong>
												</span>

												<span class="col-md-5 col-xs-5 trunc text-left" >
													{{r.lat}}
												</span>
												<span class="col-md-5 col-xs-5 trunc" >
													{{r.lng}}
												</span>
												<span class="col-md-1 col-xs-1 text-center">
													<i class="material-icons text-danger pointer" ng-click="bmapCtrl.centerMap(r.lat, r.lng)">place</i>
												</span>
												<br>
											</div>
										</div>
									</div>
									<div class="arrowDownTop textWeight">
										<div class="col-md-5 col-xs-5 pointer" ng-click="bmapCtrl.toggleRoute('customers',o.id)">Clientes</div>
										<div class="col-md-2 col-xs-2 pointer text-success" ng-click="bmapCtrl.toggleRoute('hide',o.id)">
											{{bmapCtrl["arrowHideCR"+o.id]}}
										</div>
										<div class="col-md-5 col-xs-5 pointer" ng-click="bmapCtrl.toggleRoute('route',o.id)">Ruta</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row text-center marginNone" ng-show="bmapCtrl.viewAlarms">
			<br>
			<div class="col-md-12 text-center text-primary pointer" ng-click="bmapCtrl.addMarker('alarmsAll', null, null)"><p>Posición todas las alarmas</p></div>
			<div class="col-md-10 text-center col-md-offset-1 contentCustomers">
				<table id="mapAlertsTable" class="display nowrap" cellspacing="0" width="100%">
					<thead class="hidden">
						<tr>
							<th></th>
						</tr>
					</thead>
					<tfoot class="hidden">
						<tr>
							<th></th>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="o in bmapCtrl.listAlarm" class="pointer" ng-click="bmapCtrl.addMarker('alarms',o.id)">
							<td>
								<div class="alarms {{o.color}}">
									<div class="row">

										<div class="col-md-4 col-xs-4 content text-center">
											<p>
												<i class="material-icons">{{o.icon}}</i><br>
												<span class="nameAlert">{{o.alerta}}</span>
											</p>
										</div>

										<div class="col-md-8 col-xs-8 content2">
											<p>
												<b>{{o.usuario}}</b><br>
												312465658<br>
												{{o.direccion}}<br>
												{{o.fecha}}
											</p>
										</div>
									</div>

								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
	<div class="arrowLeftTwo" ng-click="bmapCtrl.toggleSidebar2()" ng-class="{'hideArrow2' : bmapCtrl.toggleArrow2}">
		<i class="material-icons">{{ bmapCtrl.textArrow2 == true ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</i>
	</div>
	<div class="content">
		<div id="themap" class="smap-big"></div>
	</div>

	<div class="controlMap ">
		<ul class="listItems">
			<li class="pointer item"><i class="material-icons">map</i>
				<ul class="subItem" id="subItem">
					<li onclick="Anuket.setMapType('roadmap')"><img src="images/maps/roadmap.jpg"></li>
					<li onclick="Anuket.setMapType('hybrid')"><img src="images/maps/hybrid.jpg"> </li>
					<li onclick="Anuket.setMapType('night_mode')"><img src="images/maps/night_mode.jpg"> </li>
					<li onclick="Anuket.setMapType('satellite')"><img src="images/maps/satellite.jpg"> </li>
					<li onclick="Anuket.setMapType('terrain')"><img src="images/maps/terrain.jpg"> </li>
				</ul>
			</li>
			<li class="pointer item" onclick="Anuket.clearMap()"><i class="material-icons">delete_forever</i></li>
			<li class="pointer item" onclick="Anuket.traffic()"><i class="material-icons">traffic</i></li>
			<li class="pointer item" onclick="Anuket.getCurrentPosition()"><i class="material-icons">gps_fixed</i></li>
		</ul>
	</div>
	<!-- Info User-->
	<div class="modal fade" data-keyboard="false" id="createUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title text-center" id="myModalLabel">{{bmapCtrl.titleModal}}</h4>
				</div>
				<div class="modal-body contentUserCreate forms">
					<div class="input-group">
                    <span class="input-group-addon">
						<i class="material-icons">face</i>
					</span>
						<div class="form-group is-empty">
							<input type="text" class="form-control" placeholder="Nombres" ng-model="bmapCtrl.obj.first_name" disabled="{{bmapCtrl.disabledCam}}">
							<span class="material-input"></span>
						</div>
					</div>
					<div class="input-group">
                    <span class="input-group-addon">
						<i class="material-icons">face</i>
					</span>
						<div class="form-group is-empty">
							<input type="text" class="form-control" placeholder="Apellidos" ng-model="bmapCtrl.obj.last_name" disabled="{{bmapCtrl.disabledCam}}">
							<span class="material-input"></span>
						</div>
					</div>
					<div class="input-group">
                    <span class="input-group-addon">
						<i class="material-icons">account_circle</i>
					</span>
						<div class="form-group is-empty">
							<input type="text" class="form-control" placeholder="Usuario" ng-model="bmapCtrl.obj.username" disabled="{{bmapCtrl.disabledCam}}">
							<span class="material-input"></span>
						</div>
					</div>
					<!--<div class="input-group">
                    <span class="input-group-addon">
						<i class="material-icons">fingerprint</i>
					</span>
						<div class="form-group is-empty">
							<input type="password" class="form-control" placeholder="Contraseña" ng-model="bmapCtrl.obj.password">
							<span class="material-input"></span>
						</div>
					</div>
					<div class="input-group">
                    <span class="input-group-addon">
						<i class="material-icons">fingerprint</i>
					</span>
						<div class="form-group is-empty">
							<input type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="bmapCtrl.obj.passConfirm">
							<span class="material-input"></span>
						</div>
					</div>-->
					<div class="input-group">
                    <span class="input-group-addon">
						<i class="material-icons">email</i>
					</span>
						<div class="form-group is-empty">
							<input type="email" class="form-control" placeholder="Correo" ng-model="bmapCtrl.obj.email" disabled="{{bmapCtrl.disabledCam}}">
							<span class="material-input"></span>
						</div>
					</div>
					<div class="input-group">
                    <span class="input-group-addon">
						<i class="material-icons">phone_android</i>
					</span>
						<div class="form-group is-empty">
							<input type="text" class="form-control" placeholder="Telefono" ng-model="bmapCtrl.obj.telefono" disabled="{{bmapCtrl.disabledCam}}">
							<span class="material-input"></span>
						</div>
					</div>
					<div class="input-group">
                    <span class="input-group-addon">
						<i class="material-icons">assignment_ind</i>
					</span>
						<div class="form-group is-empty">
							<input type="number" class="form-control" placeholder="Cedula" ng-model="bmapCtrl.obj.cedula" disabled="{{bmapCtrl.disabledCam}}">
							<span class="material-input"></span>
						</div>
					</div>
					<div class="input-group">
                    <span class="input-group-addon">
						<i class="material-icons">business</i>
					</span>
						<div class="form-group is-empty">
							<select class="select" ng-options="o.id as o.nombre_empresa for o in bmapCtrl.listCompany" ng-model="bmapCtrl.obj.id_empresa" disabled="{{bmapCtrl.disabledCam}}">
								<option value="">Seleccione Empresa</option>
							</select>
							<!--<input type="text" class="form-control"  placeholder="Empresa" ng-model="usersCtrl.listCompany" disabled="true" value="">-->
							<span class="material-input"></span>
						</div>
					</div>
					<div class="input-group" ng-show="bmapCtrl.typeuser">
                    <span class="input-group-addon">
						<i class="material-icons">portrait</i>
					</span>
						<div class="form-group is-empty">
							<select class="select"  ng-options="o.id as o.nombre_perfil for o in bmapCtrl.listProfiles" ng-model="bmapCtrl.obj.id_perfil" disabled="{{bmapCtrl.disabledCam}}">
								<option value="">Seleccione Perfil</option>
							</select>
						</div>
					</div>

					<div class="input-group" ng-show="bmapCtrl.typeuser">
                    <span class="input-group-addon">
						<i class="material-icons">assignment_ind</i>
					</span>
						<div class="form-group is-empty">
							<input type="text" class="form-control" value="Grupos" disabled="true">
							<span class="material-input"></span>
						</div>
					</div>

					<form class="contentChecks" id="usersGroupsList" ng-show="bmapCtrl.typeuser">
						<div class="checkbox" ng-repeat="gruop in bmapCtrl.listGroups">
							<label>
								<input type="checkbox" name="optionsCheckboxes" value="{{gruop.id}}" disabled="{{bmapCtrl.disabledCam}}"><span class="checkbox-material"><span class="check"></span></span>
								{{gruop.nombre_grupo}}
							</label>
						</div>
					</form>

					<div class="input-group" ng-show="bmapCtrl.typeuser">
                    <span class="input-group-addon">
						<i class="material-icons">assignment</i>
					</span>
						<div class="form-group is-empty">
							<input type="text" class="form-control" value="Clientes" disabled="true">
							<span class="material-input"></span>
						</div>
					</div>

					<form class="contentChecks" id="usersCustomersList" ng-show="bmapCtrl.typeuser">
						<div class="checkbox" ng-repeat="customer in bmapCtrl.listCustomers">
							<label>
								<input type="checkbox" name="optionsCheckboxes" value="{{customer.id}}" disabled="{{bmapCtrl.disabledCam}}"><span class="checkbox-material"><span class="check"></span></span>
								{{customer.nombre_cliente}}
							</label>
						</div>
					</form>

				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="streetViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" >
			<div class="modal-header text-center">
				<div id="mapModalContent"> </div>
				<div id="streetViewModalContent" style="width: 100%; height: 250px;"> </div>

			</div>
			<div class="modal-footer text-center">
			</div>
		</div>
	</div>
</div>
<!-- Info formulario -->
<div ng-controller="functionController as functionCtrl">
<div class='modal fade' data-keyboard='false' id='createCustomer2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
				<h4 class="modal-title text-center" >{{functionCtrl.titleModal}}</h4>
			</div>
			<div class="modal-body contentCustomerCreate forms">
				<form name="asignarForm">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">account_circle</i>
								</span>
								<div class="form-group is-empty" >
									<!--<input type="text" class="form-control" placeholder="Cliente" ng-model="functionCtrl.campos.nameuser" disabled>-->
									<select  ng-model='functionCtrl.campos.cliente'  name='cliente' id='cliente' selectpicker=' ' class='selectpicker' data-style='select-with-transition'  title='Seleccione Cliente' data-size='7' required>
										<option ng-repeat="listclient in functionCtrl.campos.listCliente" value='{{listclient}}' id='{{listclient.id}}'>{{listclient.nombre_cliente}}</option>
									</select>
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">directions</i>
								</span>
								<div class="form-group is-empty">
									<input type="text" class="form-control" id='addressCustomer' ng-blur="functionCtrl.onBlur()" placeholder="Dirección, Ciudad" name="direccion"  ng-model="functionCtrl.campos.direccion" required>
									<!--<span class="error" ng-show="asignarForm.direccion.$error.required">Name is required.</span>-->
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group" ng-show='functionCtrl.directionsgeo' id="directionsgeo">
								<span class="input-group-addon">
									<i class="material-icons">directions</i>
								</span>
								<div class="form-group is-empty">
									<input type="text" class="form-control" id='addressCustomerGeo'  placeholder="DireccionGeo" name="direccionGeo" name="direccion Geo" ng-model="functionCtrl.campos.direccionGeo">
									<!--<span class="error" ng-show="asignarForm.direccion.$error.required">Name is required.</span>-->
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">place</i>
								</span>
								<div class="form-group is-empty">
									<input type="text" class="form-control" placeholder="cx" id='cxCustomer' ng-model='functionCtrl.campos.cx' disabled>
									<span class="material-input"></span>
								</div>
								<!--</div>

                                <div class="input-group">-->
								<span class="input-group-addon">
									<i class="material-icons">place</i>
								</span>
								<div class="form-group is-empty">
									<input type="text" class="form-control" placeholder="cy" id='cyCustomer' ng-model='functionCtrl.campos.cy' disabled>
									<span class="material-input"></span>
								</div>
							</div>
							<!-- Dos -->
							<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">date_range</i>
									</span>
								<div class="form-group is-empty" >
									<!--<input type="text" class="form-control" placeholder="Cliente" ng-model="functionCtrl.campos.nameuser" disabled>-->
									<div class="form-group ">
										<input ng-model='functionCtrl.campos.finicre' name="finifinicre"  id='finifinicre' type="text " class='form-control datepicker' value=" " required/>
										<span class="material-input "></span>
										<!--<span  class="material-input text-danger lettersize " ng-show="functionCtrl.MgsFini">{{functionCtrl.desMsgFechaIni}}</span>-->
									</div>
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">date_range</i>
									</span>
								<div class="form-group is-empty" >
									<!--<input type="text" class="form-control" placeholder="Cliente" ng-model="functionCtrl.campos.nameuser" disabled>-->
									<div class="form-group ">
										<select  ng-model='functionCtrl.campos.event'  name='event' id='event' selectpicker=' ' class='selectpicker' data-style='select-with-transition' ng-change='functionCtrl.envenInfoTypeEvent(functionCtrl.campos.event)' title='Tipo Evento' data-size='7' required>
											<option ng-repeat="listaEvent in functionCtrl.listaEvent" value="{{listaEvent}}">{{listaEvent.nombre_actividad}}</option>
										</select>
										<span class="material-input"></span>
									</div>
								</div>
							</div>
							<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">hourglass_empty</i>
									</span>
								<div class="form-group is-empty" >
									<select  ng-model='functionCtrl.campos.hini'  name='hini' id='hini' selectpicker=" " class='selectpicker' data-style="select-with-transition"  title="Hora Inicio " data-size="7 ">
										<option ng-repeat="listHor in functionCtrl.campos.rango" value="{{listHor}}">{{listHor}}</option>
									</select>
									<span class="material-input"></span>
								</div>
								<span class="input-group-addon">
									<i class="material-icons">hourglass_full</i>
									</span>
								<div class="form-group is-empty" >
									<select  ng-model='functionCtrl.campos.hfin'  name='hfin' id='hfin' selectpicker=' ' class='selectpicker' data-style='select-with-transition'  title='Hora Final' ng-change='functionCtrl.validatordata("H")' data-size='7'>
										<option ng-repeat="listHor in functionCtrl.campos.rango" value="{{listHor}}">{{listHor}}</option>>
									</select>
									<span class="material-input"></span>
								</div>
							</div>
							<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">date_range</i>
									</span>
								<div class="form-group is-empty" >
									<!--<input type="text" class="form-control" placeholder="Cliente" ng-model="functionCtrl.campos.nameuser" disabled>-->
									<div class="form-group ">
										<select  ng-model='functionCtrl.campos.user'  name='user' id='user' selectpicker=' ' class='selectpicker' data-style='select-with-transition'  title='Tecnico' data-size='7' required>
											<option ng-repeat="listauser in bmapCtrl.listCustomerMap" value="{{listauser}}">{{bmapCtrl.ucWords(listauser.nombre)}}</option>
										</select>
										<span class="material-input"></span>
									</div>
								</div>
							</div>
						</div>
						<div class='col-md-6 col-xs-11 text-center mapCustomer1' id='mapCustomer2'>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" >
				<button type="button" ng-click="functionCtrl.confirmTarea('save')" id='saveGroupNew' ng-show="functionCtrl.btnSHSave" class="btn btn-success btn-simple" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Guardando Grupo...">Crear</button>
				<button type="button" ng-click="functionCtrl.confirmTarea('update')" id='updateGroupNew' ng-show="functionCtrl.btnSHUpdate" class="btn btn-success btn-simple" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Guardando Grupo...">Reprogramas</button>
				<button type="button" ng-click="functionCtrl.confirmTarea('delete')" id='deleteGroupNew' ng-show="functionCtrl.btnSHDelete" class="btn btn-success btn-simple" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Guardando Grupo...">Eliminar</button>
				<!--<button type="button" ng-click="ctmsCtrl.confirmTarea('update')" id="updateGroup" ng-show="ctmsCtrl.btnSHUpdate" class="btn btn-success btn-simple" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Actualizando Grupo...">Actualizar</button>-->
				<button type="button" ng-click="functionCtrl.clearForm()" class="btn btn-warning btn-simple">Limpiar</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="confirmUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center h3">
				Desea asignar esta tarea
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="functionCtrl.selectActionTarea()">Aceptar</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
</div>
