<div class="wrapper dashBoard">
    <div class="main-panel tablesFull">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card card-stats">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="icon-big text-center icon-warning">
											<i class="material-icons iconDash text-success">assignment_ind</i>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="numbers text-center">
                                            <p class="nameCard">Clientes</p>
                                            <p class="nameCount">{{dashCtrl.totalCustomers}}</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-xs-12">
                                    	<p class="text-center viewCard text-success" ng-click="dashCtrl.viewContent('customers')">
                                    		Ver clientes
                                    	</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-stats">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-6 ">
                                        <div class="icon-big text-center icon-warning">
											<i class="material-icons iconDash text-info">account_circle</i>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="numbers text-center">
                                            <p class="nameCard">Usuarios</p>
                                            <p class="nameCount">{{dashCtrl.totalUsers}}</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-xs-12">
                                    	<p class="text-center viewCard text-info" ng-click="dashCtrl.viewContent('users')">
                                    		Ver Usuarios
                                    	</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-stats">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-6 ">
                                        <div class="icon-big text-center icon-warning">
											<i class="material-icons iconDash text-warning">group</i>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="numbers text-center">
                                            <p class="nameCard">Grupos</p>
                                            <p class="nameCount">{{dashCtrl.totalGroups}}</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-xs-12">
                                    	<p class="text-center viewCard text-warning" ng-click="dashCtrl.viewContent('groups')">
                                    		Ver Grupos
                                    	</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="row" >
					<div class="col-sm-4"  >
                        <div class="card card-stats">
                            <div class="content" >
                                <div class="row text-center"  style="padding: 20px">
                                	<h4>Metas Cumplimiento</h4>
                                	<p></p>
									<div class="ct-chart ct-golden-section" id="chart1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-stats">
                            <div class="content">
                                <div class="row text-center" style="padding: 20px">
                                	<h4>Usuarios y Tareas</h4>
                                	<p></p>
									<div class="ct-chart ct-golden-section text-black" id="chart2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"  >
                        <div class="card card-stats">
                            <div class="content" >
                                <div class="row text-center"  style="padding: 20px">
                                	<h4>Ventas Productos</h4>
                                	<p></p>
									<div class="ct-chart ct-golden-section" id="chart3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>

            </div>
        </div>
    </div>
</div>
