<nav class="navbar navbar-info navbar-fixed-top" role="navigation" ng-controller="navbarController as nbCtrl" >
    <div class="container-fluid">
        <div class="" id="bs-example-navbar-collapse-1">
            <ul class="navbar-items">
            	<li class="menu" ng-click="nbCtrl.showSidebar()">
                    <i class="material-icons">menu</i>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
                <li class="title">
                    <span>CONOCIMIENTO</span>
					<!--<img src="images/logo.png">-->
                </li>
                <li class="separator hidden-lg hidden-md"></li>
                <!--<li>
                    <img ui-sref='app.basemap' class="logo-banner icon hide-on-med-and-down cursor-pointer" src="images/servilogo.png" width="210px" height="49px">
                </li>
                <li class="separator hidden-lg hidden-md"></li>-->
            </ul>
        </div>
</nav>
<div class="section-space"></div>

<!-- <li><a ui-sref='app.slogin'>Salir</a></li>-->
