html,body {
	overflow:hidden;
}

.logo-banner{
	width: 50px;
	height: 49px;
}

.cursor-pointer{
	cursor:pointer;
}

.logo-servi{
	margin-top: -30px;
	margin-left: -11px;
}

@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}

.fixed-plugin li > a,
.fixed-plugin .badge{
    transition: all .34s;
    -webkit-transition: all .34s;
    -moz-transition: all .34s;
}

.fixed-plugin{
    position: fixed;
    top: 180px;
    right: 0;
    width: 64px;
    background: rgba(0,0,0,.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
}
.fixed-plugin .fa-cog{
    color: #FFFFFF;
    padding: 10px;
    border-radius: 0 0 6px 6px;
    width: auto;
}
.fixed-plugin .dropdown-menu{
    right: 80px;
    left: auto;
    width: 290px;
    border-radius: 10px;
    padding: 0 10px;
}
.fixed-plugin .dropdown-menu:after, .fixed-plugin .dropdown-menu:before{
    right: 10px;
    margin-left: auto;
    left: auto;
}
.fixed-plugin .fa-circle-thin{
    color: #FFFFFF;
}
.fixed-plugin .active .fa-circle-thin{
    color: #00bbff;
}

.fixed-plugin .dropdown-menu > .active > a,
.fixed-plugin .dropdown-menu > .active > a:hover,
.fixed-plugin .dropdown-menu > .active > a:focus{
    color: #777777;
    text-align: center;
}

.fixed-plugin img{
    border-radius: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.fixed-plugin .dropdown-menu li > a:hover,
.fixed-plugin .dropdown-menu li > a:focus{
    box-shadow: none;
}

.fixed-plugin .badge{
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
}
.fixed-plugin .badge.active,
.fixed-plugin .badge:hover{
    border-color: #00bbff;
}

.fixed-plugin .badge-blue{
    background-color: #00bcd4;
}
.fixed-plugin .badge-green{
    background-color: #4caf50;
}
.fixed-plugin .badge-orange{
    background-color: #ff9800;
}
.fixed-plugin .badge-purple{
    background-color: #9c27b0;
}
.fixed-plugin .badge-red{
    background-color: #f44336;
}

.fixed-plugin .badge-rose{
    background-color: #e91e63;
}

.fixed-plugin .badge-black{
    background-color: #000;
}

.fixed-plugin .badge-white{
    background-color: rgba(200, 200, 200, 0.2);
}

.fixed-plugin h5{
    font-size: 14px;
    margin: 10px;
}
.fixed-plugin .dropdown-menu li{
    display: block;
    padding: 5px 2px;
    width: 25%;
    float: left;
}

.fixed-plugin li.adjustments-line,
.fixed-plugin li.header-title,
.fixed-plugin li.button-container{
    width: 100%;
    height: 50px;
    min-height: inherit;
}

.fixed-plugin li.button-container{
    height: auto;
}
.fixed-plugin li.button-container div{
    margin-bottom: 5px;
}

.fixed-plugin #sharrreTitle{
    text-align: center;
    padding: 10px 0;
    height: 50px;
}

.fixed-plugin li.header-title{
    height: 30px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.fixed-plugin .adjustments-line p{
    float: left;
    display: inline-block;
    margin-bottom: 0;
    font-size: 1em;
    color: #3C4858;
}

.fixed-plugin .adjustments-line a .badge-colors{
    position: relative;
    top: -2px;
}

.fixed-plugin .adjustments-line .togglebutton{
    float: right;
}

.fixed-plugin .adjustments-line .togglebutton .toggle{
    margin-right: 0;
}

.fixed-plugin .dropdown-menu > li.adjustments-line > a{
      padding-right: 0;
      padding-left: 0;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      margin: 0;
}
.fixed-plugin .dropdown-menu > li > a.img-holder{
      font-size: 16px;
      text-align: center;
      border-radius: 10px;
      background-color: #FFF;
      border: 3px solid #FFF;
      padding-left: 0;
      padding-right: 0;
      opacity: 1;
      cursor: pointer;
      max-height: 100px;
      overflow: hidden;
      padding: 0;
}

.fixed-plugin .dropdown-menu > li > a.switch-trigger:hover,
.fixed-plugin .dropdown-menu > li > a.switch-trigger:focus{
    background-color: transparent;
}
.fixed-plugin .dropdown-menu > li:hover > a.img-holder,
.fixed-plugin .dropdown-menu > li:focus > a.img-holder{
    border-color: rgba(0, 187, 255, 0.53);;
}
.fixed-plugin .dropdown-menu > .active > a.img-holder,
.fixed-plugin .dropdown-menu > .active > a.img-holder{
    border-color: #00bbff;
    background-color: #FFFFFF;
}

.fixed-plugin .dropdown-menu > li > a img{
    margin-top: auto;
}

.fixed-plugin .btn-social{
    width: 50%;
    display: block;
    width: 48%;
    float: left;
    font-weight: 600;
}
.fixed-plugin .btn-social i{
    margin-right: 5px;
}
.fixed-plugin .btn-social:first-child{
    margin-right: 2%;
}

.fixed-plugin .dropdown .dropdown-menu{
     -webkit-transform: translateY(-15%);
     -moz-transform: translateY(-15%);
     -o-transform: translateY(-15%);
     -ms-transform: translateY(-15%);
     transform: translateY(-15%);
     top: 27px;
     opacity: 0;

     transform-origin: 0 0;
}
.fixed-plugin .dropdown.open .dropdown-menu{
     opacity: 1;

     -webkit-transform: translateY(-13%);
     -moz-transform: translateY(-13%);
     -o-transform: translateY(-13%);
     -ms-transform: translateY(-13%);
     transform: translateY(-13%);

     transform-origin: 0 0;
}

.fixed-plugin .dropdown-menu:before,
.fixed-plugin .dropdown-menu:after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 78px;
    width: 16px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);

}
.fixed-plugin .dropdown-menu:before{
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid rgba(0,0,0,0.2);
    border-top: 16px solid rgba(0,0,0,0);
    right: -17px;
}

.fixed-plugin .dropdown-menu:after{
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid #FFFFFF;
    border-top: 16px solid rgba(0,0,0,0);
    right: -16px;
}

.wrapper-full-page ~ .fixed-plugin .dropdown.open .dropdown-menu{
    -webkit-transform: translateY(-17%);
    -moz-transform: translateY(-17%);
    -o-transform: translateY(-17%);
    -ms-transform: translateY(-17%);
    transform: translateY(-17%);
}

.wrapper-full-page ~ .fixed-plugin .dropdown .dropdown-menu{
    -webkit-transform: translateY(-19%);
    -moz-transform: translateY(-19%);
    -o-transform: translateY(-19%);
    -ms-transform: translateY(-19%);
    transform: translateY(-19%);
}

.fixed-plugin{
    top: 120px;
}

@media (min-width: 992px){

    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

@media (max-width: 991px){

    .wrapper-full-page ~ .fixed-plugin .dropdown-menu:after,
    .wrapper-full-page ~ .fixed-plugin .dropdown-menu:before{
        top: 99px;
    }

    .wrapper-full-page ~ .fixed-plugin .adjustments-line a .badge-colors{
        top: 3px;
    }

    .wrapper-full-page ~ .fixed-plugin .adjustments-line + .header-title{
        margin-top: 15px;
    }

    .fixed-plugin .dropdown-menu{
        right: 81px;
        width: 250px;
    }

    .fixed-plugin li.button-container{
        height: auto;
    }

    .fixed-plugin .adjustments-line .switch{
        float: right;
        margin: 0 0px;
    }

    .fixed-plugin li.header-title{
        height: 40px;
    }
    .fixed-plugin .dropdown .dropdown-menu{
        top: 10px;
    }

    .fixed-plugin .dropdown-menu:after,
    .fixed-plugin .dropdown-menu:before{
        top: 96px;
    }

    .fixed-plugin .dropdown-menu > li > a.img-holder{
        max-height: 75px;
    }

    .fixed-plugin{
        top: 80px;
    }
}


/*background login card*/
.card [data-background-color="blue"] {
	background: #056ad8;
}



/* tables fulll page*/

.sidebar-mini .main-panel {
	width: calc(100%) !important;
}

/*responsive tables*/

.dataTables_wrapper{
	overflow-x: auto;
}

/* scroll tables full page */

.sidebar-mini .main-panel {
    overflow-y: scroll;
    height: 102vh;
}

/* padding tables */

.card .table tr td{
	padding:0;
}

/* paginamiento tablas*/

.dataTables_paginate a{
	margin-right: 20px;
}

.dataTables_wrapper .dataTables_info{
	float: left;
}

.paginate_button {
	cursor: pointer;
}

/* filteres */
.dataTables_wrapper .dataTables_length {
    float: left;
}


/*Search*/
div.dataTables_wrapper div.dataTables_filter input {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-left: 7px;
}

div.dataTables_wrapper div.dataTables_length select{
	border-radius: 4px;
}

/*notify*/
.alert span {
	word-wrap: break-word;
}


/* color animation inputs */

.form-control, .form-group .form-control{
	background-image: linear-gradient(#056ad8, #004db3), linear-gradient(#D2D2D2, #D2D2D2) !important;
}


/*Color text charts*/
.ct-label{
	color: rgb(69, 69, 69) !important;
}


/*input select*/

.select {
	width: 100%;
    margin-top: 6px;
    height: 29px;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
}



/*content checks*/

.contentChecks {
	margin-left: 32px;
    margin-top: -2px;
    max-height: 164px;
    overflow-y: auto;
    padding-left: 32px;
    border: 1px solid #d2d2d2
}

.checkbox label {
	color: #2c2c2c;
}


/* form in modal Se cambio max-height: 50vh*/
.forms{
	max-height: 64vh;
	overflow-y: auto;
}

.forms .form-group{
    margin:0;
	padding-bottom: 0px;
	border-bottom: 1px solid #ccc;
}

.forms .input-group .input-group-addon{
	padding: 9px 10px 0 0px;
}

.forms  .checkbox input[type=checkbox]:checked + .checkbox-material .check{
	background: #056ad8;
}


/*cursor pointer*/

.pointer{
	cursor: pointer;
}


.trunc{
  width:32%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Agenda*/

.ghost-event{
	border-width: 2px;
	border-style: dashed dotted;
	border-color: #009b3a;
	background: repeating-linear-gradient( 45deg, #009b3a 53px, rgba(3, 177, 68, 0.95) 10px, #05b54b 40px, #07e058 60px );
	opacity:0.6;
}

.ghost-event-agendado{
	border-color: #7CBB0F;
}

.btn-agenda-privada{
	background-color: #009b3a;
	color: #FFFFFF;
}

.btn-agenda-privada-form{
	background: linear-gradient(60deg, #02a0ba, #02a0ba);
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
	margin: -20px 15px 0;
	border-radius: 3px;
	padding: 15px;
	position: relative;
	color: #FFFFFF;
}

.fc button, .fc button:hover, .fc button:focus, .fc button:active, .fc button.active, .fc button:active:focus, .fc button:active:hover, .fc button.active:focus, .fc button.active:hover, .open > .fc button.dropdown-toggle, .open > .fc button.dropdown-toggle:focus, .open > .fc button.dropdown-toggle:hover, .fc button.btn-primary, .fc button.btn-primary:hover, .fc button.btn-primary:focus, .fc button.btn-primary:active, .fc button.btn-primary.active, .fc button.btn-primary:active:focus, .fc button.btn-primary:active:hover, .fc button.btn-primary.active:focus, .fc button.btn-primary.active:hover, .open > .fc button.btn-primary.dropdown-toggle, .open > .fc button.btn-primary.dropdown-toggle:focus, .open > .fc button.btn-primary.dropdown-toggle:hover {
	background-color: #009b3a;
	color: #FFFFFF;
}

#tittleUser{
	text-align: center;
}

#gifImage{
	position: absolute;
	padding-left: 30%;
	padding-top: 1%;
}

#mostrarCargando{
	width: 299px;
}

.fadebox {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 400px;
	background-color:  #0c863d;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.overbox {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	z-index:1002;
	overflow: auto;
}

.error {
	border-color: red;
}


