.icon-calendar{
	position: absolute;
	padding: 0px;
	margin-left: -125px;
	width: 25px;
	margin-top: -3px;
	height: 25px;
}

.btn-tam{
	border-radius: 3px;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	will-change: box-shadow, transform;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.tableTarea{
	height: 400px;
	right: 0;
	width: 93%;
	overflow-y: auto;
	padding-bottom: 20px;
}
