.contentCustomerCreate{
	width: 100%;
}

.contentCustomerCreate .divContent{
	display: inline-table;
}

.contentCustomerCreate .formCustomer{
	width: 49%;
}

.contentCustomerCreate .formCustomer .form-group{
	margin:0;
	margin-bottom: 0px;
}

.contentCustomerCreate .mapCustomer{
    height: 220px;
    float: none;
    background: #d1d1d1;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid #ffffff;
}

.contentCustomerCreate .mapCustomer1 {
	height: 381px;
	float: none;
	background: #d1d1d1;
	border-radius: 5px;
	/* margin: auto; */
	border: 1px solid #ffffff;
	float: right;
	top: 4px;
}
/****/
.nvBar{
	background: #4caf50;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
	margin: -20px 15px 0;
	border-radius: 3px;
	position: relative;
}

.card .card-header {
	padding: 15px;
	z-index: 3;
}

.btn-crear{
	background: #212B37;
}

.nvTittle{
	color: #FFFFFF;
}



