.dashBoard .iconDash{
	font-size: 60px !important;;
}

.dashBoard .nameCard{
	font-size: 1em;
}

.dashBoard .nameCount{
	font-size: 2em;
}


.dashBoard .viewCard{
	border-top: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}


.dashBoard .hr{
	width: 5%;
    border: 2px solid #f05b4f;
    display: inline-flex;
    vertical-align: super;
    margin-right: 6px;
}

.dashBoard .hr2{
    border: 2px solid #d70206;
    margin-left: 20%;
}



