.nvBar{
	background: #4caf50;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
	margin: -20px 15px 0;
	border-radius: 3px;
	position: relative;
}

.card .card-header {
	padding: 15px;
	z-index: 3;
}

.btn-crear{
	background: #212B37;
}

.nvTittle{
	color: #FFFFFF;
}
