.cortar{
	width: 178px;
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 21px;
}
.cortar:hover {
	width: auto;
	white-space: initial;
	overflow:visible;
	cursor: pointer;
	background: #fff !important;
	padding-left: 0px;
}

.btn-crear{
	background: #212B37;
}
